/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End Reset*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: avenir;
  font-size: 10px;
  line-height: 1;
}

.container {
  background-color: #ffffff;
	display: block;
  margin: 0 auto;
	position: relative;
  width: 375px;
}

.top {
	height: 462px;
	background-color: #ffffff;
	position: fixed;
	z-index: 99
}

nav {
  color: #ffffff;
  background-color: #007AFF;
  font-size: 1.8em;
	line-height: 1.3;
	display: block;
  margin: 0 auto;
  padding: 0px;
  position: fixed;
  width: 375px;
  height: 130px;
	z-index: 99
}

.ios {
	margin-left: 2%;
	float: left;
	position: absolute;
}

.arrow-left {
  float: left;
  padding: 8% 6%;
}

.title {
  float: left;
  padding: 8% 0% 50% 26%;
}

.edit {
  float: right;
  padding: 8% 6%
}

.directions {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 500;
  float: left;
  padding: 18.5% 0 1% 6%;
  position: absolute;
}

#smaller {
  font-size: .7em;
  font-weight: normal
}

.preview {
	height: 412px;
	position: fixed;
  width: 375px;
}

.map {
	background-color: #ffffff;
}

.next_bus {
  background-color: #ffffff;
	border-bottom: 1px solid #d3d3d3;
	position: fixed;
	line-height: 1.6;
	margin-top: 382px;
	height: 80px;
	width: 375px;
}

.bus_image {
	position: absolute;
	padding: 4.5% 6%;
}

#alert {
	float: right;
	padding: 7% 6% 0 0 ;
}

#arriving_bus {
	float: center;
  padding: 4.5% 0 0 22%;
	font-weight: 500;
	font-size: 1.9em;
}

#details {
	font-size: .7em;
	font-weight: normal;
}

.list {
	background-color: #ffffff;
	padding-top: 462px;
	z-index: 1
}

#button {
	position: fixed;
	z-index: 90;
	padding-top: 164px;
	padding-left: 117px
}

.list-buses {
	color: black;
	font-size: 1.5em;
  box-sizing: border-box;
  border-bottom: 1px solid #d3d3d3;
  display: inline-block;
	margin-left: 10px;
  width: 355px;
	height: 40px;
}

.number {
	top: 15px;
	margin-left:10px;
	position: relative;
}

.mine {
	font-weight: 600;
}

.where_to {
  margin-left: 80px;
	position: absolute;
}

.time_left {
	margin-right: 10px;
	float: right;
	position: relative;
}

.resume {
	font-size: .7em;
	margin-top: 2px;
}

.reroute {
	color: #595959;
	font-size: 1.5em;
	font-style:italic;
	box-sizing: border-box;
	border-bottom: 1px solid #d3d3d3;
	display: inline-block;
	margin-left: 10px;
	width: 355px;
	height: 40px;
}

.exclamation {
	position: absolute;
	margin-top: 10px;
	margin-left: 43px;
}

.ex {
	position: absolute;
	margin-top: 11px;
	margin-left: 43px;
}
